.unseenStoryItem {
  background: -webkit-linear-gradient(left top, #a31391 0%, #f8a74f 100%);
  margin-bottom: 3px;
}

.seenStoryItem {
  border-style: solid;
  border-width: 3px;
  border-color: gray;
}

.mutedStoryItem {
  opacity: 0.2;
}

.trayItemImage {
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px;
  cursor: pointer;
}

._qdmzb .instagramUserImage {
  width: 92%;
  height: 92%;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.storyAuthorImage {
  width: 32px;
  height: 32px;
  left: 70px;
  border-radius: 50%;
  z-index: 1;
}

.storyAuthorUsername {
  left: 110px;
  color: white;
  z-index: 1;
}

.videoStoryItem {
  width: auto;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  padding: 0px;
  border: 0px;
  bottom: 0px;
}

.locationIcon, .hashtagIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 0px;
  right: 2px;
  margin-bottom: -5px;
}

.locationStoryIconContainer, .hashtagStoryIconContainer {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;
}

.locationStoryIcon, .hashtagStoryIcon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

#trayContainer {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  max-height: 145px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.trayItemImage {
  width: 64px;
  height: 64px;
  margin: auto;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px;
  cursor: pointer;
}

.liveTrayItemImage, .liveUserItemImage {
  margin: auto;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px;
  cursor: pointer;
}

.liveTrayItemImage {
  width: 72px;
  height: 72px;
}

.liveUserItemImage {
  width: 152px;
  height: 152px;
}

@media screen and (max-width: 735px) {
  .liveUserItemImage {
    width: 72px;
    height: 72px;
  }
}

.trayContainer {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  max-height: 145px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.trayContainerEdgeFade {
  width: 50px;
  height: 130px;
  position: absolute;
  right: 0px;
  pointer-events: none;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(250,250,250,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(250,250,250,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(250,250,250,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fafafa',GradientType=1 ); /* IE6-9 */
}

.storyAuthorAttribution {
  left: 10px;
  top: 15px;

  img {
    width: 24px;
    height: 24px;

    @include max-screen(768px) {
      width: 16px;
      height: 16px;
    }
    @include max-screen(544px) {
      display: none;
    }
  }
  span {
    margin-left: 10px;

    @include max-screen(768px) {
      font-size: 12px;
    }
    @include max-screen(544px) {
      font-size: 8px;
      margin-left: 0px;
    }
  }
  @include max-screen(544px) {
    left: 10px;
  }
}

@keyframes react-progress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.react-progress-bar {
  top: 0;
  left: 0;
  width: 100%;
  visibility: visible;
  margin: 0 2px;
  opacity: 1;
  transition: all 400ms;
  z-index: 999;
  background-color: rgba(255,255,255,0.4);
  &.react-progress-bar-on-top {
    height: 100%;
  }
  &.react-progress-bar-hide {
    opacity: 0;
    visibility: hidden;
    z-index: -10;
  }
}

.react-progress-bar-percent {
  height: 2px;
  background: white;
  transition: all 200ms ease;
}

.react-progress-bar-spinner {
  display: block;
  position: fixed;
  top: 15px;
}

.react-progress-bar-spinner-left {
  left: 15px;
  right: auto;
}

.react-progress-bar-spinner-right {
  left: auto;
  right: 15px;
}

.react-progress-bar-spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  animation: react-progress-spinner 400ms linear infinite;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.center-horizontal {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

.liveStoryInfoSpan {
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
}

.fadedScroller {
  overflow: auto;
  position: relative;
  height: 100px;
}

.fadedScroller:after {
  content:'';
  bottom: 122px;
  width: 344px;
  height: 80px;
  /*background: linear-gradient(to bottom, #000000 0%, rgba(251, 251, 251, 0) 100%);*/
  position: fixed;
}

#chatbox {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 43px;
}

#chatmessage {
  overflow: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 200px;
}

#chatmessages div {
  color: white;
}

.liveLabel {
  color: white;
  padding: 6px;
  border-radius: 5px;
  background: #CB007E; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #CB007E , #E0003E); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #CB007E, #E0003E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #CB007E, #E0003E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #CB007E , #E0003E); /* Standard syntax (must be last) */
}

.tabs-container .tab > div > div svg {
  fill: #626262 !important;
}

.liveVideoReplayIconTray {
  height: 20px;
  margin-top: 35px;
  z-index: 3
}

.liveVideoReplayIconUser {
  height: 25px;
  margin-top: 75px;
  z-index: 3
}

@media screen and (max-width: 735px) {
  .liveVideoReplayIconUser {
    height: 15px;
    margin-top: 35px;
  }
}

.liveTrayItemIcon {
  width: 42px;
  height: 42px;
}

.liveUserItemIcon {
  width: 96px;
  height: 96px;
}

.liveTrayItemIcon, .liveUserItemIcon{
  border-radius: 50%;
  z-index: 2
}

@media screen and (max-width: 735px) {
  .liveUserItemIcon {
    width: 45px;
    height: 45px;
  }
}

.liveTrayItemBlackCircle {
  width: 66px;
  height: 66px;
}

.liveUserItemBlackCircle {
  width: 140px;
  height: 140px;
}

@media screen and (max-width: 735px) {
  .liveUserItemBlackCircle {
    width: 66px;
    height: 66px;
  }
}

.liveTrayItemBlackCircle, .liveUserItemBlackCircle {
  background: black;
  position: absolute;
  border-radius: 50%;
}

.pulseTrayItem {
  width: 42px;
  height: 42px;
}

.pulseUserItem {
  width: 125px;
  height: 125px;
}

@media screen and (max-width: 735px) {
  .pulseUserItem {
    width: 50px;
    height: 50px;
  }
}

.pulseTrayItem, .pulseUserItem {
  display: block;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.6);
  animation: pulse 2s infinite;
}

.toolbarRightSide___1Sdfc {
  right: 0px;
  position: absolute;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}